.container {
    display: flex;
}

img {
    width: 30%;
    margin: 5%;
}

.forU {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    color: transparent;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    img {
        width: 95%;
        margin: auto;
    }
}