/* CSS Variables */
:root {
    --base: #1aea4e;
    --spacing: 10px;
    --blur: 10px;
    --rotate: 0deg;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    transform: rotate(var(--rotate));
}

.hl {
    color: var(--base);
}

/*
    misc styles, nothing to do with CSS variables
*/

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

h2 {
    font-size: 2.5rem;
}

.controls {
    display: block;
    margin-bottom: 50px;
    width: 35%;
    font-size: 2rem;
    margin: auto;
}

input {
    width: 100px;
}

img {
    object-fit: none;
    height: 320px;
    width: 380px;
}

p {
    font-size: 11px;
    color: var(--base);
}

a {
    color: rgb(90, 216, 247);
}